body {
    background-color: #3893aa;
    font-family: Tahoma, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: #005;
}

img {
    border-radius: 5px;
    width: 40%;
}

#main {
    width: 1200px;
    min-height: 500px;
    margin: 0 auto;
    padding: 10px 25px;
    background-color: #FFF;
}

ul.recipe-list {
    margin: 0;
    padding: 0;
}

.recipe-list li {
    list-style: none;
    padding: 10px 15px;
    background-color: rgb(108, 145, 189);
    margin: 0px 0px 10px 0px;
    width: 200px;
    color: #FFF;
}

a:visited {
    color: #FFF;
}